.screen {
  position: absolute;
  width: 350px;
  height: 540px;
  top: 50px;
  left: 50px;
  background: url(horse-dream-puzzle-13927.jpg);
  border: 10px solid black;
  border-radius: 10px;
  -webkit-transition-property: -webkit-transform, background-position;
  -webkit-transition-duration: 0.1s;
}

.icon {
  width: 62px;
  height: 62px;
  margin-top: 20px;
  margin-left: 20px;
  background: yellow;
  border-radius: 10px;
  float: left;
  opacity: 1;

}

.icon:nth-child(1),
.icon:nth-child(2),
.icon:nth-child(3),
.icon:nth-child(4) {
  margin-top: 20px;
}

.icon:nth-child(1),
.icon:nth-child(5),
.icon:nth-child(9),
.icon:nth-child(13),
.icon:nth-child(17) {
  margin-left: 20px;
}
